.footer {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: calc((100% - 1220px)/2);
    padding-right: calc((100% - 1220px)/2);
    font-family: 'Gilroy', sans-serif;
    border-top: 1px solid #DBDBDB;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.columnTitle {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #171717;
}

.link {
    font-size: 14px;
    color: #171717;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.auth {
    align-items: center;
    display: flex;
    cursor: pointer;
    padding-top: 12px;
    height: fit-content;
    gap: 10px;
}

.auth:hover {
    text-decoration: underline;
}

.login {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
}

@media (max-width: 1260px) {
    .footer {
        flex-wrap: wrap;
        padding-left: 10%;
        padding-right: 10%;
    }

    .column:not(:nth-child(2)):not(:nth-child(3)) {
        display: none;
    }

    .auth {
        display: none;
    }
}

@media (max-width: 500px) {
    .footer {
        justify-content: center;
        padding: 40px 20px;
    }

    .column:nth-child(3) {
        display: none;
    }
}