body {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    background-color: #FFFFFF;
}

.auctionContainer {
    padding-top: 30px;
    padding-right: calc((100% - 1220px)/2);
    padding-left: calc((100% - 1220px)/2);
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

@media (max-width: 1260px) {
    .auctionContainer {
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
        gap: 40px;
    }

    .auctionContainer > :first-child {
        order: 2;
    }

    .auctionContainer > :nth-child(2) {
        order: 1;
    }
}

@media (max-width: 768px) {
    .auctionContainer {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 425px) {
    .auctionContainer {
        padding-left: max(20px, calc((100% - 335px)/2));
        padding-right: max(20px, calc((100% - 335px)/2));
    }
}