/* src/components/Article.module.css */

.articleContainer {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.articleHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 100%;
}

.h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #DBDBDB;
    font-size: 41px;
    font-weight: 600;
    justify-content: space-between;
}

.subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 100%;
}

.articleDate {
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
}

.articleDate img {
    user-select: none;
    -webkit-user-select: none;
}

.dateRange {
    color: #4F7B9E;
    font-size: 16px;
    text-transform: uppercase;
    padding-right: 8px;
}

.articleImage {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    user-select: none;
    -webkit-user-select: none;
}

.articleContent {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    & p {
        margin-bottom: 15px;
    }
    & h2 {
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    & ul {
        margin-bottom: 15px;
        padding-left: 20px;
    }
    & li {
        margin-bottom: 5px;
    }
}

/* Стили для сообщения "Статья не найдена" */
.notFound {
    text-align: center;
    font-size: 32px;
    color: #d9534f;
    margin: 50px 0;
}