.infoSection {
    gap: 20px;
    color: #171717;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.contactInfo {
    padding: 30px;
    background-color: #F8F8F8;
    margin-top: 20px;
}

.contactHeader {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.contactItem {
    margin-bottom: 10px;
}

.contactName {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0 5px 0;
}

.contactTitle {
    font-style: italic;
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.contactLine {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    margin-bottom: 5px;
}

.contactLink {
    color: #171717;
    text-decoration: none;
    font-size: 16px;
}

.contactIcon {
    width: 16px;
    height: 16px;
}

@media (max-width: 1260px) {
    .contactInfo {
        border-top: 1px solid #DBDBDB;
    }
}

@media (max-width: 425px) {
    .contactHeader,
    .contactName,
    .contactTitle,
    .contactLine,
    .contactLink{
        font-size: 12px;
    }
}