.sectionContainer {
    padding: 40px calc((100% - 1220px) / 2);
    margin: 0 auto;
    max-width: 1220px;

    border-top: 1px solid #DBDBDB;
    font-family: 'Gilroy', sans-serif;
    color: #171717;
    box-sizing: border-box;
}

/* Общий стиль для заголовка секции */
.sectionTitle {
    font-size: 31px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* Общий стиль для основного текста */
.sectionText {
    font-size: 16px;
    line-height: 1.6; /* Увеличение межстрочного интервала для лучшей читаемости */
    color: #9C9C9C;
}

/* Общий стиль для контейнера контента внутри секции */
.sectionContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Специфический стиль для контейнера контента секции "Как купить или продать" */
.howToBuySellSectionContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Специфический стиль для подзаголовка ("Как купить или продать") */
.stepTitle {
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* Специфический стиль для списков (ul, ol) */
.sectionList {
    list-style: disc inside;
    padding-left: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    color: #9C9C9C;
}

.sectionList li {
    margin-bottom: 5px;
}

/* Специфический стиль для нумерованного списка в "Как купить или продать" */
.howToBuySellStepsList {
    list-style: decimal inside;
    padding-left: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    color: #9C9C9C;
}

.howToBuySellStepsList li {
    margin-bottom: 10px;
}

/* Специфический стиль для кнопки/ссылки в секции Discover */
.sectionLinkButton {
    display: inline-block;
    background-color: transparent;
    color: #000;
    border: 1px solid #171717;
    cursor: pointer;
    text-align: center;
    padding: 12px 20px;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 10px;
    user-select: none;
    -webkit-user-select: none;
}

.sectionLinkButton:hover {
    background-color: #171717;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 1260px) {
    .sectionContainer {
        margin: 0 auto;
        max-width: none;
        padding: 20px 10%;
    }
    .sectionTitle {
        margin-bottom: 15px;
    }
    .sectionText,
    .sectionList,
    .sectionList li,
    .howToBuySellStepsList,
    .howToBuySellStepsList li {
        font-size: 14px;
        line-height: 1.5;
    }

    .sectionContent {
        gap: 10px;
    }
    .howToBuySellSectionContent {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .sectionContainer {
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media (max-width: 425px) {
    .sectionContainer {
        padding: 15px max(20px, calc((100% - 335px) / 2));
    }
    .sectionTitle {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .sectionText,
    .sectionList,
    .sectionList li,
    .howToBuySellStepsList,
    .howToBuySellStepsList li {
        font-size: 12px;
        line-height: 1.4;
    }
    .stepTitle {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .sectionLinkButton {
        font-size: 12px;
        padding: 10px 15px;
        margin-top: 5px;
    }

}