.lotSection {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    margin-bottom: 40px;
}

.grid {
    width: 825px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 16px;
}

.gridHeader {
    scroll-margin-top: 80px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 100%;
}

.h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #DBDBDB;
    font-size: 41px;
    font-weight: 600;
}

.subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 100%;
}

.auctionDate {
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
}

.dateRange {
    color: #4F7B9E;
    font-size: 16px;
    text-transform: uppercase;
    padding-right: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 255px;
    text-decoration: none;
}

.card:hover .title {
    text-decoration: underline;
}

.imageWrapper {}
.imageWrapper:hover {
    cursor: pointer;
}

.image {
    width: 100%;
    height: 277px;
    object-fit: cover;
    margin-bottom: 16px;
    position: relative;
}

.favoriteIcon{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    display: none;
    user-select: none;
    -webkit-user-select: none;
}

.favoriteIcon.active {
    display: block;
}

.card:hover .favoriteIcon {
    right: 66px;
    display: block;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    text-decoration: none;
    color: #171717;
}

.numberRow {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    text-transform: uppercase;
}

.numberValue {
    color: #4F7B9E;
}

.lotName {
    color: #171717;
    font-size: 19px;
    text-decoration: none;
}

.lotName:hover {
    text-decoration: underline;
}

.priceLabel {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    text-transform: uppercase;
}

.priceValue {
    font-size: 16px;
    color: #4F7B9E;
    padding-left: 25px;
}

.magnifier {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    display: none;
    user-select: none;
    -webkit-user-select: none;
}

.card:hover .magnifier {
    display: block;
}

.pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-top: 60px;
    width: 100%;
}

.paginationInner {
    display: flex;
    gap: 8px;
    align-items: center;
}

.pageBtn {
    display: flex;
    align-items: center;
    gap: 6px;
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    color: #171717;
    user-select: none;
    -webkit-user-select: none;
}

.pageBtn.disabled {
    color: #9C9C9C;
    cursor: default;
}

/* !!! СТИЛИ ДЛЯ МНОГОТОЧИЯ В ПАГИНАЦИИ !!! */
.ellipsis {
    padding: 5px 0; /* Выравнивание по вертикали с кнопками */
    min-width: 20px; /* Минимальная ширина, чтобы многоточие не слипалось */
    text-align: center;
    color: #555; /* Цвет текста */
    font-size: 14px; /* Размер шрифта, чтобы соответствовать кнопкам */
    /* Если хотите, чтобы многоточие не выделялось как текст при копировании */
    user-select: none;
    pointer-events: none; /* Гарантируем, что оно некликабельно */
    -webkit-user-select: none;
}

/* !!! СТИЛИ ДЛЯ СООБЩЕНИЯ "НЕТ РЕЗУЛЬТАТОВ" !!! */
.noResults {
    font-size: 18px;
}

.pageNum {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    background-color: #fff;
    text-transform: uppercase;
    color: #9C9C9C;
    border-color: #9C9C9C;
    user-select: none;
    -webkit-user-select: none;
}

.pageNum.active {
    color: #171717;
    font-weight: 700;
    border-color: #171717;
}
/* Если сенсорный экран */
@media (hover: none) {
    .favoriteIcon {
        right: 66px;
        display: block;
    }
    .magnifier {
        display: block
    }
}

@media (max-width: 1260px) {
    .grid {
        width: calc(100% + 20px);
    }
    .card {
        width: calc(100% - 20px);
    }
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        grid-template-columns: repeat(2, 2fr);
    }
    .card {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .grid {
        grid-template-columns: repeat(1, 4fr);
    }
    .h2 {
        font-size: 31px;
    }
    .pageBtn {
        font-size: 12px;
    }
    .pageBtn img {
        width: 12px;
        height: 12px;
    }
    .pageNum {
        font-size: 12px;
    }
    .pagination {
        font-size: 12px;
        gap: 6px;
    }
}