.breadcrumbs {
    display: flex;
    align-items: center;
    padding-top: 30px;
    font-size: 16px;
    color: #9C9C9C;
    flex-wrap: wrap;
    gap: 8px;
    text-transform: uppercase;
}

.breadcrumbLink {
    color: #9C9C9C;
    text-decoration: none;
    transition: color 0.2s ease;
    display: flex;
    align-items: center;
}

.breadcrumbLink:hover {
    color: #171717;
    text-decoration: underline;
}

.currentBreadcrumb {
    color: #9C9C9C;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 4px;
}

.icon {
    width: 20px;
    height: 20px;
}