/* src/style.css */

html, body {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    height: 100%;
}

.pageLayout {
    display: flex; /* Включаем Flexbox */
    flex-direction: column; /* Располагаем элементы вертикально */
    min-height: 100vh; /* Минимальная высота равна высоте окна просмотра */
}

#search-section {
    scroll-margin-top: 80px; /* Учитывает высоту хедера при прокрутке к элементу */
}

.main {
    flex-grow: 1; /* Растягивает контент, чтобы футер оказался прикреплен к нижней границе страницы */
    font-family: 'Gilroy', sans-serif;
    background-color: #FFFFFF;
}

/* Стили для Auction/Favorite Grid на главной и избранном */
.auctionContainer {
    padding: 30px calc((100% - 1220px) / 2); /* Паддинги вашего контейнера лотов */
    display: flex;
    justify-content: space-between;
    /* Переход в колонну на 1260px перенесен в медиазапрос ниже, как у вас уже было */
}

.sectionToggle {
    /* Контейнер для кнопок переключения секций */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 355px;
}

.toggleButton {
    padding: 10px 15px;
    cursor: pointer;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;

}

.toggleIcon {
    padding: 10px;
    width: 18px;
    height: 18px;
}

.toggleButton.active {
    /* Стили для активной (выбранной) кнопки */
    background-color: black;
    color: white;
}

@media (max-width: 1260px) {
    .main {
        /* Паддинги main на планшетах */
        padding-right: 10%;
        padding-left: 10%;
    }

    /* Макет Auction/Favorite Grid на планшетах */
    .auctionContainer {
        flex-direction: column;
        gap: 40px;
        /* Переупорядочивание блоков */
        /* В Personal Account Page мы управляем порядком flex-direction: column напрямую */
    }
    /* Эти правила для Auction/Favorite Grid */
    .auctionContainer > :first-child {
        order: 2;
    }
    .auctionContainer > :nth-child(2) {
        order: 1;
    }

    .sectionToggle {
        /* Возможно, сделайте кнопки выбора секции flexbox или grid, чтобы они были в ряд или сеткой на телефонах */
        display: flex;
        gap: 10px; /* Отступ между кнопками */
        justify-content: center; /* Центрирование кнопок */
        margin-bottom: 20px; /* Отступ под кнопками */
        width: 100%;
    }

    /* !!! КОНЕЦ Макет ЛИЧНОГО КАБИНЕТА на планшетах !!! */

}

@media (max-width: 768px) {
    .main {
        /* Паддинги main на телефонах */
        padding-left: 20px;
        padding-right: 20px;
    }
    /* Паддинги контейнеров на телефонах унаследуют от main или задать явно */
    .auctionContainer,
    .accountContainer {
        padding-left: 20px; /* Или 0, если внутренний контент имеет паддинги */
        padding-right: 20px;
    }
    /* Кнопки переключения могут потребовать стилей для адаптивности */
    .sectionToggle {
        flex-wrap: wrap; /* Если кнопок много, они будут переноситься */
        justify-content: center;
    }
    .toggleButton {
        flex-grow: 1; /* Кнопки могут растягиваться */
        text-align: center;
    }
}

@media (max-width: 425px) {
    .main {
        padding-left: max(20px, calc((100% - 335px)/2));
        padding-right: max(20px, calc((100% - 335px)/2));
    }
    .auctionContainer,
    .accountContainer {
        padding-left: max(20px, calc((100% - 335px)/2));
        padding-right: max(20px, calc((100% - 335px)/2));
    }
}